
.Testimonial-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    
}

.Carousel-container {
    background-color: #373940;
    height: 50%;
    width: 50%;
    padding: 25px;
    border-radius: 5%;
}

@media screen and (max-width: 949px) {
    .Carousel-container {
        background-color: #373940;
        height: 80%;
        width: 90%;
        padding: 25px;
        border-radius: 5%;
    }
}